@keyframes rotate-linear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.logo-img {
  width: 10rem;
  margin-top: 4rem;
  animation: rotate-linear forwards 5s linear infinite;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #444;
  color: #fafafa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: 3rem;
  text-align: center;

  & span a {
    text-decoration: underline;
    color: rgb(52, 105, 250);
  }
}
